<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <div class="container"></div>
        <p><h1>{{resume.id}}</h1></p>
        <p>Name: {{resume.Name}} Surname: {{resume.surname}} Email: {{resume.email}} Phone Number: {{resume.phone_number}}</p>
        {% if resume.pic %}
        <img src="http://127.0.0.1:8000/media/{{resume.pic}}">
        {% endif %}
        <a href="http://127.0.0.1:8000/resume/download/{{resume.id}}">Download_resume</a>
      </div>
  </body>
</html>